/* Css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

main, .container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

fieldset {
  border: none;
}

.rating, .thanks {
  width: 25.75rem;
  border-radius: 1.875rem;
  background: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215, 20%, 17%) 0%, hsl(216, 24%, 12%) 100%);
}
.rating__star {
  margin: 2rem 0 1.87rem 2rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: hsl(213, 19%, 18%);
}
.rating__title {
  color: hsl(0, 0%, 100%);
  font-size: 1.75rem;
  font-weight: 700;
  margin-left: 2rem;
}
.rating__description {
  color: hsl(217, 12%, 63%);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0.4rem 2.5rem 1.5rem 2rem;
}

.flex-group {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
}

legend,
input[type=radio] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label {
  display: grid;
  place-items: center;
  width: 3.1875rem;
  height: 3.1875rem;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  font-size: 1rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

input[type=radio]:checked + label,
label:focus {
  background-color: hsl(25, 97%, 53%);
}

label:hover {
  background-color: hsl(216, 12%, 54%);
}

.rating__button {
  border: none;
  display: block;
  margin: 2rem auto 2rem;
  width: 21.3125rem;
  height: 2.8125rem;
  border-radius: 1.40625rem;
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.rating__button:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.hidden {
  display: none;
}

.thanks__img {
  margin: 2.8rem auto 2rem;
  transition: ease-in 0.5s;
  animation: flip 0.5s ease;
}

@keyframes flip {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.thanks__rating {
  display: grid;
  place-items: center;
  color: hsl(25, 97%, 53%);
  font-size: 0.9375rem;
  border-radius: 1.40625rem;
  height: 2rem;
  margin: 0 6.8rem 0;
  font-weight: 400;
  background: hsl(213, 19%, 18%);
}

.thanks__header {
  margin: 2rem 0 0.44rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 1.75rem;
  font-weight: 700;
}

.thanks__description {
  margin: 0 2.3rem 2.8rem;
  text-align: center;
  color: hsl(217, 12%, 63%);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.6;
}

@media (max-width: 29rem) {
  .rating, .thanks {
    width: 20.4375rem;
  }
  .rating__star {
    width: 2.5rem;
    height: 2.5rem;
  }
  .flex-group {
    gap: 1rem;
  }
  label {
    width: 2.625rem;
    height: 2.625rem;
    font-size: 0.875rem;
  }
  .rating__button {
    width: 17.4375rem;
  }
  .thanks__rating {
    font-size: 0.875rem;
    margin: 0 5rem 0;
  }
}

/*# sourceMappingURL=styles.css.map */
